<div class="row">
<p class="lyric large-6 columns" style="font-size: 180%"><%=raw @lyric.body.gsub("\n", "<br />")  %></p>
<div class="large-6 columns">
  <ul class="appearances">
  <% @lyric.tracks.each do |track| %>
  <li style="margin-bottom: 10px">
    <div class="track_title">
  <%= link_to track.title, track_path(track) %>
    </div>
    <% if track.principal_artist %>
    <div style="font-size: 80%" class="artist_name">
      <%= link_to track.principal_artist.name, artist_path(track.principal_artist) %>
    </div>
    <% end %>
    <div  style="font-size: 80%" class="album_title">
      <%= link_to track.album.title, album_path(track.album) %>
    </div>
    <p>verso #<%= track.position + 1 %></p>
    <% if track.spotify_uri %>
     <iframe src="https://embed.spotify.com/?uri=<%= track.spotify_uri%>&view=coverart&theme=white" frameborder="0" allowtransparency="true"></iframe>
     <% end %>
  </li>
  <% end %>
  </ul>
</div>
</div>