<div class="large-6 columns">
  <h1 style="font-size: 150%"><%= @track.title %></h1>
  <h2 style="font-size: 140%"><%= @track.style %></h2>
  <h3 style="font-size: 130%"><%= link_to @track.album.title, album_path(@track.album) %></h3>

  <h3 style="font-size: 120%">
    <%= @track.participating_artists.collect { |artist| link_to(artist.name, artist_path(artist)) }.join(", ").html_safe %></h3>

  <div style="margin-top: 50px">
    <% @track.lyrics.each do |l| %>
    <p style="font-size: 120%">
      <%=raw l.body.gsub("\n", "<br />") %>
    </p>

    <% end %>
  </div>
</div>
<div class="large-6 columns">
  <% if @track.spotify_uri %>
  <iframe src="https://embed.spotify.com/?uri=<%= @track.spotify_uri%>&view=coverart&theme=white" frameborder="0" allowtransparency="true"></iframe>
  <% end %>
</div>