<% if !@results.empty? %>
<div class="pagination">
  <%= paginate @results %>
</div>
<ul class="large-block-grid-3" id="search-results">
<% @results.each do |r| %>
  <% l = Lyric.find(r.searchable_id)%>
  <li class="lyric_result">
    <p><%= link_to highlight(l.body.gsub("\n", "<br />"), params[:q]), lyric_path(l)  %></p>
    <% l.lyric_occurences.each do |lo| %>
    <h4><%= lo.track.style %></h4>
    <% if lo.track.singer %>
      <h5><%= link_to lo.track.singer.name, artist_path(lo.track.singer) %></h5>
    <% end %>
    <div class="track">
      <%= link_to lo.track.title, track_path(lo.track) %>
      <% if lo.track.spotify_uri %>
        <% link_to 'Spotify', lo.track.spotify_uri %>
      <% end %>
    </div>
    <div class="album"><%= link_to lo.track.album.title, album_path(lo.track.album) %>
      <% if year = lo.track.album.year %>
      , <%= year %>
      <% end %>
      <% if lo.track.album.spotify_uri %>
        , <% link_to 'Spotify', lo.track.album.spotify_uri %>
      <% end %>
      </div>
    <% end %>
  </li>
<% end %>
</ul>
<div class="pagination">
  <%= paginate @results %>
</div>
<% else %>
<h2>No hay resultados!</h2>
<% end %>
