<% if !@lyrics.empty? %>
<h1 style="font-size:120%; text-transform: uppercase; color: #aaa">Letras</h1>

<ul class="large-block-grid-3" id="search-results">
<% @lyrics.each do |l| %>
  <li class="lyric_result">
    <p><%= highlight(l.body.gsub("\n", "<br />"), params[:q])  %></p>
    <% l.lyric_occurences.each do |lo| %>
    <h4><%= lo.track.style %></h4>
    <% if lo.track.singer %>
      <h5><%= link_to lo.track.singer.name, artist_path(lo.track.singer) %></h5>
    <% end %>
    <div class="track">
      <%= link_to lo.track.title, track_path(lo.track) %>
      <% if lo.track.spotify_uri %>
        <% link_to 'Spotify', lo.track.spotify_uri %>
      <% end %>
    </div>
    <div class="album"><%= link_to lo.track.album.title, album_path(lo.track.album) %>
      <% if year = lo.track.album.year %>
      , <%= year %>
      <% end %>
      </div>
    <% end %>
  </li>
<% end %>
</ul>
<% end %>

<% if !@albums.empty? %>
<h1 style="font-size:120%; text-transform: uppercase; color: #aaa">Álbumes</h1>
  <ul class="large-block-grid-3" id="search-results">
  <% @albums.each do |a| %>
    <li class="lyric_result">
      <p><%= link_to highlight(a.title, params[:q]), album_path(a)  %></p>
    </li>
  <% end %>
  </ul>
<% end %>
<% if @lyrics.empty? && @albums.empty? && @tracks.empty? && @artists.empty? %>
 No hay resultados para tu búsqueda.
<% end %>

