<!DOCTYPE html>
<html>
<head>
  <title>Letras</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//use.typekit.net/vow4ond.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
<div id="wrapper">
<header>
  <div style="margin: 0 auto; width: 60%; float: right">
  <input style="padding: 5px; width: 300px" type="text" name="q" value="<%= params[:q] %>"> <input type="submit" />
</header>
<%= yield %>
</div>
</body>
</html>
